<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  
  <connectionStrings>
    <!--add name="cons" connectionString="server=.; database=Facts_Dipa; integrated security=sspi" / -->
        <add connectionString="Server=DESKTOP-JE9UQHN\SQLEXPRESS;Database=VMS;User ID=raj;Password=raj@1234" name="cons" />
   
  </connectionStrings>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="webform1.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <!--<system.web>
    <customErrors mode="On" defaultRedirect="homepage.aspx?handler=customErrors%20section%20-%20Web.config">
      <error statusCode="404" redirect="webform1.aspx?msg=404&amp;handler=customErrors%20section%20-%20Web.config"/>
    </customErrors>
  </system.web>-->
</configuration>
